{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}
<div class="container">
    <div class="form-container justify-content-center">
        <div class="form-medium my-3">
            <form action="" method="post" class="form">
                {{ form.hidden_tag() }}
                <h3>Reset Password</h3>
                <p>Set the new password to your account.</p>
                {% include 'flash_messages.html' %}
                <div class="border-top my-3"></div>
                <div class="form-floating mb-3">
                    {{ form.password1(class='form-control', placeholder='Password') }}
                    {{ form.password1.label }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password2(class='form-control', placeholder='Email address') }}
                    {{ form.password2.label }}
                </div>
                <p>{{ form.submit(class='w-100 btn btn-primary') }}</p>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}