<div class="modal fade" tabindex="-1" id="delete_url_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_delete_header"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="modal_delete_body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger" id="delete_url_modal_btn">Delete</a>
            </div>
        </div>
    </div>
</div>