{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}

<div class="form-container justify-content-center">
    <div class="form-big shadow border my-3">
        <form action="" method="post" class="form">
            {{ form.hidden_tag() }}
            <h3>Report URL</h3>
            <p>If you want to report one of the URLs, you can do this with this form.</p>
            {% include 'flash_messages.html' %}
            <div class="border-top my-3"></div>
            <div class="form-floating mb-3">
                {{ form.email(class='form-control', placeholder='Email address', type='email',
                value=email if email else '') }}
                {{ form.email.label }}
            </div>
            <div class="form-floating mb-3">
                {{ form.short(class='form-control', placeholder='Short URL') }}
                {{ form.short.label }}
            </div>
            <div class="form-floating mb-3">
                {{ form.reason(class='form-select', placeholder='Reason') }}
                {{ form.reason.label }}
            </div>
            <div class="form-floating mb-3">
                {{ form.description(class='form-control message-box', placeholder='Description') }}
                {{ form.description.label }}
            </div>
            <p>{{ form.submit(class="btn btn-primary w-100") }}</p>
        </form>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}

